@model PubliPayments.Models.AuditoriaGestion
@{ var audGes = Model;}
<table style="border: 1px solid #AAA; width: 100%;padding-left:5px; ">
    <tr>
        <td style="width: 260px;border-left: 1px solid #AAA;border-top: 1px solid #AAA;border-right: 1px solid #AAA;">Información Crédito</td>
        <td style="width: 120px;border-left: 1px solid #AAA;border-top: 1px solid #AAA;border-right: 1px solid #AAA;">Dictámen</td>
        <td style="width: 550px;height: 200px;" rowspan="2">
            <div id="imagenes_@audGes.Credito" style="width: 550px;height: 100%;overflow-x: auto;overflow-y: hidden;position:relative;top:0;left:0;">
                <table>
                    <tr>
                        @if (audGes.ImagenTitulo1 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">@audGes.ImagenTitulo1</td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo2 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">@audGes.ImagenTitulo2</td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo3 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">@audGes.ImagenTitulo3</td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo4 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">@audGes.ImagenTitulo4</td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo5 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">@audGes.ImagenTitulo5</td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo6 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">@audGes.ImagenTitulo6</td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo7 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">@audGes.ImagenTitulo7</td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo8 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">@audGes.ImagenTitulo8</td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo9 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">@audGes.ImagenTitulo9</td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo10 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">@audGes.ImagenTitulo10</td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                    </tr>
                    <tr>
                        @if (audGes.ImagenTitulo1 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">
                                <a target="_blank" href="@audGes.ImagenUrl1" data-lightbox="@audGes.IdOrden"><img height="120" width="100" id="img1_@audGes.Credito" src="@audGes.ImagenUrl1" /></a>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo2 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">
                                <a target="_blank" href="@audGes.ImagenUrl2" data-lightbox="@audGes.IdOrden"><img height="120" width="100" id="img2_@audGes.Credito" src="@audGes.ImagenUrl2" /></a>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo3 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">
                                <a target="_blank" href="@audGes.ImagenUrl3" data-lightbox="@audGes.IdOrden"><img height="120" width="100" id="img3_@audGes.Credito" src="@audGes.ImagenUrl3" /></a>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo4 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">
                                <a target="_blank" href="@audGes.ImagenUrl4" data-lightbox="@audGes.IdOrden"><img height="120" width="100" id="img4_@audGes.Credito" src="@audGes.ImagenUrl4" /></a>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo5 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">
                                <a target="_blank" href="@audGes.ImagenUrl5" data-lightbox="@audGes.IdOrden"><img height="120" width="100" id="img5_@audGes.Credito" src="@audGes.ImagenUrl5" /></a>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo6 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">
                                <a target="_blank" href="@audGes.ImagenUrl6" data-lightbox="@audGes.IdOrden"><img height="120" width="100" id="img6_@audGes.Credito" src="@audGes.ImagenUrl6" /></a>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo7 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">
                                <a target="_blank" href="@audGes.ImagenUrl7" data-lightbox="@audGes.IdOrden"><img height="120" width="100" id="img7_@audGes.Credito" src="@audGes.ImagenUrl7" /></a>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo8 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">
                                <a target="_blank" href="@audGes.ImagenUrl8" data-lightbox="@audGes.IdOrden"><img height="120" width="100" id="img8_@audGes.Credito" src="@audGes.ImagenUrl8" /></a>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo9 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">
                                <a target="_blank" href="@audGes.ImagenUrl9" data-lightbox="@audGes.IdOrden"><img height="120" width="100" id="img9_@audGes.Credito" src="@audGes.ImagenUrl9" /></a>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo10 != null)
                        {
                            <td style="width: 130px;padding-right: 5px;">
                                <a target="_blank" href="@audGes.ImagenUrl10" data-lightbox="@audGes.IdOrden"><img height="120" width="100" id="img10_@audGes.Credito" src="@audGes.ImagenUrl10" /></a>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                    </tr>
                    <tr>
                        @if (audGes.ImagenTitulo1 != null)
                        {
                            var nombre1 = "img1_" + audGes.Credito;
                            <td style="width: 130px;padding-right: 5px;">
                                <table>
                                    <tr>
                                        <td><input type="radio" value="1" name="@nombre1" @(audGes.ImagenResultado1=="1"?"checked='checked'":"") />Autoriza</td>
                                        <td>&nbsp;</td>
                                        <td><input type="radio" value="0" name="@nombre1" @(audGes.ImagenResultado1=="0"?"checked='checked'":"") />No autoriza</td>
                                    </tr>
                                </table>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo2 != null)
                        {
                            var nombre2 = "img2_" + audGes.Credito;
                            <td style="width: 130px;padding-right: 5px;">
                                <table>
                                    <tr>
                                        <td><input type="radio" value="1" name="@nombre2" @(audGes.ImagenResultado2=="1"?"checked='checked'":"") />Autoriza</td>
                                        <td>&nbsp;</td>
                                        <td><input type="radio" value="0" name="@nombre2" @(audGes.ImagenResultado2=="0"?"checked='checked'":"") />No autoriza</td>
                                    </tr>
                                </table>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo3 != null)
                        {
                            var nombre3 = "img3_" + audGes.Credito;
                            <td style="width: 130px;padding-right: 5px;">
                                <table>
                                    <tr>
                                        <td><input type="radio" value="1" name="@nombre3" @(audGes.ImagenResultado3=="1"?"checked='checked'":"") />Autoriza</td>
                                        <td>&nbsp;</td>
                                        <td><input type="radio" value="0" name="@nombre3" @(audGes.ImagenResultado3=="0"?"checked='checked'":"") />No autoriza</td>
                                    </tr>
                                </table>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo4 != null)
                        {
                            var nombre4 = "img4_" + audGes.Credito;
                            <td style="width: 130px;padding-right: 5px;">
                                <table>
                                    <tr>
                                        <td><input type="radio" value="1" name="@nombre4" @(audGes.ImagenResultado4=="1"?"checked='checked'":"") />Autoriza</td>
                                        <td>&nbsp;</td>
                                        <td><input type="radio" value="0" name="@nombre4" @(audGes.ImagenResultado4=="0"?"checked='checked'":"") />No autoriza</td>
                                    </tr>
                                </table>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo5 != null)
                        {
                            var nombre5 = "img5_" + audGes.Credito;
                            <td style="width: 130px;padding-right: 5px;">
                                <table>
                                    <tr>
                                        <td><input type="radio" value="1" name="@nombre5" @(audGes.ImagenResultado5=="1"?"checked='checked'":"") />Autoriza</td>
                                        <td>&nbsp;</td>
                                        <td><input type="radio" value="0" name="@nombre5" @(audGes.ImagenResultado5=="0"?"checked='checked'":"") />No autoriza</td>
                                    </tr>
                                </table>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo6 != null)
                        {
                            var nombre6 = "img6_" + audGes.Credito;
                            <td style="width: 130px;padding-right: 5px;">
                                <table>
                                    <tr>
                                        <td><input type="radio" value="1" name="@nombre6" @(audGes.ImagenResultado6=="1"?"checked='checked'":"") />Autoriza</td>
                                        <td>&nbsp;</td>
                                        <td><input type="radio" value="0" name="@nombre6" @(audGes.ImagenResultado6=="0"?"checked='checked'":"") />No autoriza</td>
                                    </tr>
                                </table>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo7 != null)
                        {
                            var nombre7 = "img7_" + audGes.Credito;
                            <td style="width: 130px;padding-right: 5px;">
                                <table>
                                    <tr>
                                        <td><input type="radio" value="1" name="@nombre7" @(audGes.ImagenResultado7=="1"?"checked='checked'":"") />Autoriza</td>
                                        <td>&nbsp;</td>
                                        <td><input type="radio" value="0" name="@nombre7" @(audGes.ImagenResultado7=="0"?"checked='checked'":"") />No autoriza</td>
                                    </tr>
                                </table>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo8 != null)
                        {
                            var nombre8 = "img8_" + audGes.Credito;
                            <td style="width: 130px;padding-right: 5px;">
                                <table>
                                    <tr>
                                        <td><input type="radio" value="1" name="@nombre8" @(audGes.ImagenResultado8 == "1" ? "checked='checked'" : "") />Autoriza</td>
                                        <td>&nbsp;</td>
                                        <td><input type="radio" value="0" name="@nombre8" @(audGes.ImagenResultado8 == "0" ? "checked='checked'" : "") />No autoriza</td>
                                    </tr>
                                </table>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo9 != null)
                        {
                            var nombre9 = "img9_" + audGes.Credito;
                            <td style="width: 130px;padding-right: 5px;">
                                <table>
                                    <tr>
                                        <td><input type="radio" value="1" name="@nombre9" @(audGes.ImagenResultado9 == "1" ? "checked='checked'" : "") />Autoriza</td>
                                        <td>&nbsp;</td>
                                        <td><input type="radio" value="0" name="@nombre9" @(audGes.ImagenResultado9 == "0" ? "checked='checked'" : "") />No autoriza</td>
                                    </tr>
                                </table>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        @if (audGes.ImagenTitulo10 != null)
                        {
                            var nombre10 = "img10_" + audGes.Credito;
                            <td style="width: 130px;padding-right: 5px;">
                                <table>
                                    <tr>
                                        <td><input type="radio" value="1" name="@nombre10" @(audGes.ImagenResultado10 == "1" ? "checked='checked'" : "") />Autoriza</td>
                                        <td>&nbsp;</td>
                                        <td><input type="radio" value="0" name="@nombre10" @(audGes.ImagenResultado10 == "0" ? "checked='checked'" : "") />No autoriza</td>
                                    </tr>
                                </table>
                            </td>
                        }
                        else
                        {
                            <td style="padding-right: 0px;"></td>
                        }
                        
                    </tr>

                </table>
            </div>
        </td>
        <td style="width: 100px;border-left: 1px solid #AAA;border-bottom: 1px solid #AAA;border-right: 1px solid #AAA;" rowspan="2">
            @{ var nombreFinal = "aut_" + audGes.Credito;}
            <table style="width: 100px;">
                <tr><td><input type="radio" value="1" name="@nombreFinal" @(audGes.Resultado=="1"?"checked='checked'":"")/>Autoriza</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td><input type="radio" value="0" name="@nombreFinal" @(audGes.Resultado=="0"?"checked='checked'":"")/>No Autoriza</td></tr>
            </table>
        </td>
        <td style="width: 130px;border-left: 1px solid #AAA;border-bottom: 1px solid #AAA;border-right: 1px solid #AAA;" rowspan="2">
       <input type="button" style="height: 30px;width: 130px" value=" Guardar Auditoría " class="Botones" @((audGes.Resultado == "1" || audGes.Resultado == "0") ? "disabled=disabled" : "")  onclick="autorizarGestion('@audGes.Credito','@audGes.IdAuditoriaImagenes')" />     
        </td>
    </tr>
    <tr>
        <td style="border-left: 1px solid #AAA;border-bottom: 1px solid #AAA;border-right: 1px solid #AAA;">
            <table style="width: 180px;margin:0 auto;"  class="idOrdenTabla">
                <tr style="border-bottom: 1px solid;">
                    <td style="width: 120px;">Delegación</td>
                    <td style="width: 130px;">@audGes.Delegacion</td>
                </tr>
                <tr style="border-bottom: 1px solid;">
                    <td style="width: 120px;">Despacho</td>
                    <td style="width: 130px;">@audGes.Despacho</td>
                </tr>
                <tr style="border-bottom: 1px solid;border-top: 1px solid;">
                    <td style="width: 120px;">Supervisor</td>
                    <td style="width: 130px;">@audGes.Supervisor</td>
                </tr>
                <tr style="border-bottom: 1px solid;border-top: 1px solid;">
                    <td style="width: 120px;">Gestor</td>
                    <td style="width: 130px;">@audGes.Gestor</td>
                </tr>
                <tr style="border-top: 1px solid;">
                    <td style="width: 120px;">Crédito</td>
                    <td style="width: 130px;">@audGes.Credito</td>
                </tr>
                <tr style="border-top: 1px solid;">
                    <td style="width: 120px;">Orden</td>
                    <td style="width: 130px;"><a href="#">@audGes.IdOrden</a></td>
                </tr>
                <tr style="border-top: 1px solid;">
                    <td style="width: 120px;">Autorización</td>
                    <td style="width: 130px;">@audGes.Autorizacion</td>
                </tr>
            </table>
        </td>
        <td style="width: 120px;border-left: 1px solid #AAA;border-bottom: 1px solid #AAA;border-right: 1px solid #AAA;">@audGes.Dictamen</td>
    </tr>
    
</table>