@model Universidad.WebAdministrativa.Models.ModelWizardPersonas

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var titulo = ViewBag.Title = "Registro de personas";
    var paises = ViewBag.ListaPaises;
    var tiposPersona = ViewBag.ListaTipoPersona;
    var sexo = ViewBag.ListaSexo;
}


@section Head
{
    <script src="~/Scripts/bootstrap-select.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                language: "es",
                format: 'dd/mm/yyyy'
            });
        });
    </script>
}
<div class="jumbotron">
    <br />
    <h2>@titulo</h2>
    <br />

    <div class="panel panel-default" style="margin: 5px; padding: 10px;">
        <div class="panel-heading" style="margin: 5px; padding: 10px;">
            <div class="panel-title">Llena los datos personales</div>
        </div>
        @using (Html.BeginForm("NuevaPersona", "Personas", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                @Html.ValidationMessageFor(x => x.Datos.Nombre, null, new { @class = "label label-danger" })
                @Html.ValidationMessageFor(x => x.Datos.ApellidoP, null, new { @class = "label label-danger" })
                @Html.ValidationMessageFor(x => x.Datos.ApellidoM, null, new { @class = "label label-danger" })
                @Html.ValidationMessageFor(x => x.Datos.Curp, null, new { @class = "label label-danger" })
                @Html.ValidationMessageFor(x => x.Datos.Rfc, null, new { @class = "label label-danger" })
                @Html.ValidationMessageFor(x => x.Datos.Nss, null, new { @class = "label label-danger" })
                @Html.ValidationMessageFor(x => x.Datos.FechaNacimiento, null, new { @class = "label label-danger" })

                <div class="form-group row form-group input-group-sm" style="margin: 5px; padding: 10px;">
                    <div class="input-group form-group col-md-12">
                        @Html.LabelFor(x => x.Datos.Nombre, new { @class = "input-group-addon" })
                        @Html.TextBoxFor(x => x.Datos.Nombre, new { @class = "form-control", placeholder = "Nombre" })
                        @Html.LabelFor(x => x.Datos.ApellidoP, new { @class = "input-group-addon" })
                        @Html.TextBoxFor(x => x.Datos.ApellidoP, new { @class = "form-control", placeholder = "Apellido Paterno" })
                        @Html.LabelFor(x => x.Datos.ApellidoM, new { @class = "input-group-addon" })
                        @Html.TextBoxFor(x => x.Datos.ApellidoM, new { @class = "form-control", placeholder = "Apellido Materno" })
                    </div>
                    <div class="input-group form-group col-md-12">
                        @Html.LabelFor(x => x.Datos.Curp, new { @class = "input-group-addon" })
                        @Html.TextBoxFor(x => x.Datos.Curp, new { @class = "form-control", placeholder = "CURP" })
                        @Html.LabelFor(x => x.Datos.Rfc, new { @class = "input-group-addon" })
                        @Html.TextBoxFor(x => x.Datos.Rfc, new { @class = "form-control", placeholder = "RFC" })
                        @Html.LabelFor(x => x.Datos.Nss, new { @class = "input-group-addon" })
                        @Html.TextBoxFor(x => x.Datos.Nss, new { @class = "form-control", placeholder = "Numero de seguro social" })
                    </div>
                    <div class="row">
                        <div class="row" style="margin: 0 0 0 0; padding: 0 0 0 0 ;">
                            <div class="form-group col-md-4">
                                <div class="input-group">
                                    @Html.LabelFor(x => x.Datos.IdNacionalidad, new { @class = "input-group-addon" })
                                    @Html.DropDownListFor(x => x.Datos.IdNacionalidad, (IEnumerable<SelectListItem>)paises, new { @class = "dropdown-header form-control" })
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <div class="input-group">
                                    @Html.LabelFor(x => x.Datos.IdTipoPersona, new { @class = "input-group-addon" })
                                    @Html.DropDownListFor(x => x.Datos.IdTipoPersona, (IEnumerable<SelectListItem>)tiposPersona, new { @class = "dropdown-header form-control" })
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <div class="input-group date">
                                    @Html.TextBoxFor(x => x.Datos.FechaNacimiento, new { @class = "form-control datepicker", placeholder = "Fecha de nacimiento" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar datepicker"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="input-group">
                                    @Html.LabelFor(x => x.Datos.IdSexo, new { @class = "input-group-addon" })
                                    @Html.DropDownListFor(x => x.Datos.IdSexo, (IEnumerable<SelectListItem>)sexo, new { @class = "dropdown-header form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div style="margin-top: 10px; float: right;" class="form-group">
                <label>&nbsp;</label>
                <input type="submit" value="Siguiente" class="btn btn-info btn-xs" style=" margin: 10px; padding: 10px;">
            </div>
        }
        @{ Html.EndForm(); }
    </div>
</div>
