@model PubliPayments.Entidades.Creditos


<style>
    .display-label {
        margin: 0 0 10px 50px;
        text-align: left;
        font-weight: bold;
    }
    .display-field {
        margin: 0 0 10px 50px;
        text-align: left;
        border: outset;
    }
</style>

<h2>Detalles</h2>


<fieldset>
    <legend>@Html.DisplayFor(model => model.RazonSocial) ... @Html.DisplayFor(model => model.CV_CREDITO) (@Html.DisplayFor(model => model.IdentificadorSucursal))</legend>

    <div class="display-label">  @Html.DisplayNameFor(model => model.Fecha) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Fecha) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NumReporte) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NumReporte) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.RazonSocial) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.RazonSocial) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreComercial) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreComercial) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.PersonalidadJuridica) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.PersonalidadJuridica) </div>
    <div class="display-label">  RFC </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CV_CREDITO) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.FechaPago) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.FechaPago) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Folio) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Folio) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.PuntoDeVenta) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.PuntoDeVenta) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Calle) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Calle) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NumExt) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NumExt) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NumInt) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NumInt) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Colonia) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Colonia) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CodigoPostal) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CodigoPostal) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Municipio) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Municipio) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Ciudad) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Ciudad) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Estado) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Estado) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Telefono) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Telefono) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreContacto) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreContacto) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TelefonoContacto) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TelefonoContacto) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NumExtencion) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NumExtencion) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EmailContacto) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EmailContacto) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.HorariosAtencion) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.HorariosAtencion) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.PaginaWeb) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.PaginaWeb) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreRepresentanteLegal) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreRepresentanteLegal) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EmailRepresentanteLegal) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EmailRepresentanteLegal) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TelefonoRepresentanteLegal) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TelefonoRepresentanteLegal) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NumExtencionRepresentanteLegal) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NumExtencionRepresentanteLegal) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.AireAcondicionado) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.AireAcondicionado) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CarpinteriaMadera) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CarpinteriaMadera) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Cocinas) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Cocinas) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Jardineria) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Jardineria) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Electricidad) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Electricidad) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Ferreteria) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Ferreteria) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.MaterialesConstruccion) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.MaterialesConstruccion) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Persianas) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Persianas) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.PapelTapizCenefas) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.PapelTapizCenefas) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.PinturaInteriorExterior) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.PinturaInteriorExterior) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Pisos) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Pisos) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Plomeria) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Plomeria) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CarceleriaHerreriaVentaneria) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CarceleriaHerreriaVentaneria) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.LineaBlanca) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.LineaBlanca) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.InstalacionManoObra) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.InstalacionManoObra) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Otros) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Otros) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NumActa) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NumActa) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NumEscritura) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NumEscritura) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NumVolumen) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NumVolumen) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NumForja) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NumForja) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.ObjetoSociedad) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.ObjetoSociedad) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TipoSociedad) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TipoSociedad) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.FechaConstitucion) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.FechaConstitucion) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.LugarConstitucion) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.LugarConstitucion) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Notaria) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Notaria) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Notario) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Notario) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CalleNotaria) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CalleNotaria) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NumExtNotaria) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NumExtNotaria) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NumIntNotaria) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NumIntNotaria) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.ColoniaNotaria) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.ColoniaNotaria) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.MunicipioNotaria) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.MunicipioNotaria) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CiudadNotaria) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CiudadNotaria) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EstadoNotaria) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EstadoNotaria) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CodigoPostalNotaria) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CodigoPostalNotaria) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreSocios) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreSocios) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.MontoCapitalCreoSociedad) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.MontoCapitalCreoSociedad) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CargaInformacion) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CargaInformacion) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.DomicilioFiscal) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.DomicilioFiscal) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.ActividadRegistrada) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.ActividadRegistrada) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.FechaInicioOperaciones) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.FechaInicioOperaciones) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.FechaCambioGiroSat) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.FechaCambioGiroSat) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreOficinaEmitePermisoFuncionamiento) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreOficinaEmitePermisoFuncionamiento) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Banco) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Banco) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Activo1) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Activo1) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Pasivo1) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Pasivo1) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Capital1) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Capital1) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Activo2) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Activo2) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Pasivo2) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Pasivo2) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Capital2) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Capital2) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Activo3) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Activo3) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Pasivo3) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Pasivo3) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Capital3) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Capital3) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreComercial2) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreComercial2) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.DireccionCompleta2) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.DireccionCompleta2) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.GiroProductos2) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.GiroProductos2) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreContacto2) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreContacto2) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EmailContacto2) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EmailContacto2) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TelefonoContacto2) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TelefonoContacto2) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CompraPromAnual2) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CompraPromAnual2) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreComercial3) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreComercial3) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.DireccionCompleta3) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.DireccionCompleta3) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.GiroProductos3) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.GiroProductos3) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreContacto3) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreContacto3) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EmailContacto3) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EmailContacto3) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TelefonoContacto3) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TelefonoContacto3) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CompraPromAnual3) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CompraPromAnual3) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreComercial4) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreComercial4) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.DireccionCompleta4) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.DireccionCompleta4) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.GiroProductos4) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.GiroProductos4) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreContacto4) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreContacto4) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EmailContacto4) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EmailContacto4) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TelefonoContacto4) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TelefonoContacto4) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CompraPromAnual4) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CompraPromAnual4) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreComercial5) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreComercial5) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.DireccionCompleta5) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.DireccionCompleta5) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.GiroProductos5) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.GiroProductos5) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreContacto5) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreContacto5) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EmailContacto5) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EmailContacto5) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TelefonoContacto5) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TelefonoContacto5) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CompraPromAnual5) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CompraPromAnual5) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreComercial6) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreComercial6) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.DireccionCompleta6) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.DireccionCompleta6) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.GiroProductos6) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.GiroProductos6) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreContacto6) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreContacto6) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EmailContacto6) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EmailContacto6) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TelefonoContacto6) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TelefonoContacto6) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CompraPromAnual6) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CompraPromAnual6) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.PromVentaMensualPublico) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.PromVentaMensualPublico) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreComercial7) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreComercial7) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.DireccionCompleta7) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.DireccionCompleta7) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.GiroProduccion7) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.GiroProduccion7) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreContacto7) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreContacto7) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EmailContacto7) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EmailContacto7) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TelefonoContacto7) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TelefonoContacto7) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.VentaPromAnual7) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.VentaPromAnual7) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreComercial8) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreComercial8) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.DireccionCompleta8) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.DireccionCompleta8) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.GiroProduccion8) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.GiroProduccion8) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreContacto8) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreContacto8) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EmailContacto8) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EmailContacto8) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TelefonoContacto8) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TelefonoContacto8) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.VentaPromAnual8) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.VentaPromAnual8) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreComercial9) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreComercial9) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.DireccionCompleta9) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.DireccionCompleta9) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.GiroProduccion9) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.GiroProduccion9) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreContacto9) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreContacto9) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EmailContacto9) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EmailContacto9) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TelefonoContacto9) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TelefonoContacto9) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.VentaPromAnual9) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.VentaPromAnual9) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreComercial10) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreComercial10) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.DireccionCompleta10) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.DireccionCompleta10) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.GiroProduccion10) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.GiroProduccion10) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreContacto10) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreContacto10) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EmailContacto10) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EmailContacto10) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TelefonoContacto10) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TelefonoContacto10) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.VentaPromAnual10) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.VentaPromAnual10) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreComercial11) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreComercial11) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.DireccionCompleta11) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.DireccionCompleta11) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.GiroProduccion11) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.GiroProduccion11) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NombreContacto11) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NombreContacto11) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EmailContacto11) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EmailContacto11) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TelefonoContacto11) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TelefonoContacto11) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.VentaPromAnual11) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.VentaPromAnual11) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NumEmpleadosTotal) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NumEmpleadosTotal) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NumEmpleadosCadaSucursal) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NumEmpleadosCadaSucursal) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.ReciboTelefonico) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.ReciboTelefonico) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CartaProveedor) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CartaProveedor) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.ActaConstitutiva) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.ActaConstitutiva) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.IdentificacionOficialRepLegal) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.IdentificacionOficialRepLegal) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.PoderNotarialRepLegal) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.PoderNotarialRepLegal) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.FormatoInscripcionSAT) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.FormatoInscripcionSAT) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.ComDomFiscal) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.ComDomFiscal) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.DeclaracionFiscal2013) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.DeclaracionFiscal2013) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.DeclaracionFiscal2014) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.DeclaracionFiscal2014) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CompPagosImpParcial2015) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CompPagosImpParcial2015) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.PermisosOperacion) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.PermisosOperacion) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CompDomTodasSucursal) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CompDomTodasSucursal) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CaratulaEstadoCuentaMesAnt) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CaratulaEstadoCuentaMesAnt) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CaratulaEstadoCuenta2doMesAnt) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CaratulaEstadoCuenta2doMesAnt) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CaratulaEstadoCuenta3erMesAnt) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CaratulaEstadoCuenta3erMesAnt) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EstadoFinanciero2012) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EstadoFinanciero2012) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EstadoFinanciero2013) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EstadoFinanciero2013) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EstadoFinanciero2014) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EstadoFinanciero2014) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TresCopiasFacturaCompraProv1) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TresCopiasFacturaCompraProv1) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TresCopiasFacturaCompraProv2) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TresCopiasFacturaCompraProv2) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TresCopiasFacturaCompraProv3) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TresCopiasFacturaCompraProv3) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TresCopiasFacturaCompraProv4) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TresCopiasFacturaCompraProv4) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TresCopiasFacturaCompraProv5) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TresCopiasFacturaCompraProv5) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TrescopiasFacturaVentaCliente1) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TrescopiasFacturaVentaCliente1) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TrescopiasFacturaVentaCliente2) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TrescopiasFacturaVentaCliente2) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TrescopiasFacturaVentaCliente3) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TrescopiasFacturaVentaCliente3) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TrescopiasFacturaVentaCliente4) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TrescopiasFacturaVentaCliente4) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.TrescopiasFacturaVentaCliente5) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.TrescopiasFacturaVentaCliente5) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.UltimoCompPagoObligacionObreroPatronal) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.UltimoCompPagoObligacionObreroPatronal) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CompPagoServicioCertificacion) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CompPagoServicioCertificacion) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CargaDocCapturadoFirmado) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CargaDocCapturadoFirmado) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.AvisoPrivacidad) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.AvisoPrivacidad) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.QuizScore) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.QuizScore) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.ReferenceID) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.ReferenceID) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.IP) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.IP) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Country) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Country) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.PaymentAmount) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.PaymentAmount) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.PaymentCurrency) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.PaymentCurrency) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.PaymentCompleted) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.PaymentCompleted) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.CouponCodes) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.CouponCodes) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Browser) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Browser) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.EntryID) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.EntryID) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.ApprovalStatus) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.ApprovalStatus) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Status) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Status) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.IdentificadorSucursal) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.IdentificadorSucursal) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.FechaPayments) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.FechaPayments) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Telefono_Lada) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Telefono_Lada) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Telefono_AtencionClientes) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Telefono_AtencionClientes) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Telefono_Extencion) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Telefono_Extencion) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.ContactoComercio_ApellidoP) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.ContactoComercio_ApellidoP) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.ContactoComercio_ApellidoM) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.ContactoComercio_ApellidoM) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.ContactoComercio_Nombre) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.ContactoComercio_Nombre) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.ContactoComercio_Cargo) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.ContactoComercio_Cargo) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.HorariosAtencion_Dias) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.HorariosAtencion_Dias) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.HorariosAtencion_Horario) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.HorariosAtencion_Horario) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.RepresentanteLegal_ApellidoP) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.RepresentanteLegal_ApellidoP) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.RepresentanteLegal_ApellidoM) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.RepresentanteLegal_ApellidoM) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.RepresentanteLegal_Nombre) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.RepresentanteLegal_Nombre) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.RepresentanteLegal_Cargo) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.RepresentanteLegal_Cargo) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Socios_Duenio) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Socios_Duenio) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Socios_Accionista1) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Socios_Accionista1) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Socios_Accionista2) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Socios_Accionista2) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.Socios_Accionista3) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.Socios_Accionista3) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.NumSucursales) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.NumSucursales) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.SICPreponderante) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.SICPreponderante) </div>
    <div class="display-label">  @Html.DisplayNameFor(model => model.ComentariosResolucion) </div>
    <div class="display-field">   @Html.DisplayFor(model => model.ComentariosResolucion) </div>

</fieldset>
<p>
     @Html.ActionLink("Regresar", "Index")
</p>
