@using Universidad.Entidades
@{
    ViewBag.Title = "HOR_CAT_DIAS_SEMANA";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lista = (List<HOR_CAT_DIAS_SEMANA>)ViewBag.ListaCatalogo;
}

@section Head
{
    <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap-datepicker.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-select.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap-select.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-multiselect.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap-multiselect.css" type="text/css" rel="stylesheet" />
}

@section Scripts
{
    <script type="text/javascript">
        function show_modal(modalName, idTipoAula, tipoAula) {
            $("#txtIdDiaActualiza").val(idTipoAula);
            $("#txtDiaSemanaActualiza").val(tipoAula);
            $("#txtIdDiaVer").val(idTipoAula);
            $("#txtDiaSemanaVer").val(tipoAula);

            $('#' + modalName + '').modal('show');
        }

        function Nuevo() {
            $("#txtIdDiaNuevo").val('');
            $("#txtDiaSemanaNuevo").val('');
            $('#modalNuevoRegistro').modal('show');
        }

        function NuevoRegistro() {
            var idDia = $("#txtIdDiaNuevo").val();
            var diaSemana = $("#txtDiaSemanaNuevo").val();

            $.ajax({
                type: "POST",
                data: {
                    'idDia': idDia,
                    'diaSemana': diaSemana
                },
                url: '@Url.Action("NuevoRegistroHorCatDiasSemana", "Catalogos")',
                success: function (response) {

                    $('#modalNuevoRegistro').modal('hide');

                    if (response) {
                        if (response == true)
                            alert("true");
                        location.reload();
                    } else {
                        alert("No se guardo el registro");
                    }
                },
                error:
                    function (xhr, status, error) {
                        alert(status + " : " + error);
                    }
            });
        }

        function Actualiza() {

            var idDia = $("#txtIdDiaActualiza").val();
            var diaSemana = $("#txtDiaSemanaActualiza").val();

            $.ajax({
                type: "POST",
                data: {
                    'idDia': idDia,
                    'diaSemana': diaSemana
                },
                url: '@Url.Action("ActualizaHorCatDiasSemana", "Catalogos")',
                success: function (response) {

                    $('#modalActualizaRegistro').modal('hide');

                    if (response) {
                        if (response == true)
                            alert("true");
                        location.reload();
                    } else {
                        alert("false");
                    }
                },
                error:
                    function (xhr, status, error) {
                        alert(status + " : " + error);
                    }
            });
        }

        function Ver(modal, idTurno, nombreTurno) {

            $("#txtIdDiaVer").val(idTurno);
            $("#txtDiaSemanaVer").val(nombreTurno);
            $('#modalVerRegistro').modal('show');
        }
    </script>
}

<br />

<h4>Catalogo @ViewBag.Title</h4>

<h5>En este catalogo se describen los distintos tipos de horarios con los cuales se cuenta</h5>

<br />

<div class="col-md-8 col-lg-offset-2">
    <table class="table">
        <tr>
            <th>
                IdTipoAula
            </th>
            <th>
                TipoAula
            </th>
            <th>
                Operaciones
            </th>
        </tr>

        @foreach (var item in lista)
        {
            <tr>
                <td>
                    @item.IDDIA
                </td>
                <td>
                    @item.DIASEMANA
                </td>
                <td style="align-content: center;">
                    <a id="btnEliminar" href="@Url.Action("EliminaHorCatDiasSemana", "Catalogos", new { idDia = item.IDDIA, diaSemana = item.DIASEMANA })" class="btn btn-default btn-sm">Elimina</a>
                    <button name="btnEditar" class="btn btn-default btn-sm" onclick="show_modal('modalActualizaRegistro','@item.IDDIA','@item.DIASEMANA')">Editar</button>
                    <button name="btnVer" class="btn btn-default btn-sm" onclick="show_modal('modalVerRegistro','@item.IDDIA','@item.DIASEMANA')">ver</button>
                </td>
            </tr>
        }
    </table>
    <br />
    <div style="margin-top: 10px; float: right;" class="form-group">
        <button type="button" class="btn btn-default" onclick="Nuevo();">Nuevo</button>
    </div>
</div>

<div class="modal fade" id="modalActualizaRegistro" tabindex="-1" role="dialog" aria-labelledby="modalLabelProducto" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabelProducto">
                    <label id="lblUsuario" text="label">Actualizar registro</label>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row" style="margin: 0 0 0 0; padding: 0 0 0 0;">
                        <div class="form-group col-md-12">
                            @Html.Label("IdDia", null, new { @class = "" })
                            @Html.TextBox("txtIdDiaActualiza", "", new { @class = "form-control", placeholder = "IdTurno", autocomplete = "off" })
                            @Html.Label("DiaSemana", null, new { @class = "" })
                            @Html.TextBox("txtDiaSemanaActualiza", "", new { @class = "form-control", placeholder = "Nombre de turno", autocomplete = "off" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="Actualiza();">Actualizar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalNuevoRegistro" tabindex="-1" role="dialog" aria-labelledby="modalNuevoRegistro" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabelProducto">
                    <label id="lblUsuario" text="label">Nuevo registro</label>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row" style="margin: 0 0 0 0; padding: 0 0 0 0;">
                        <div class="form-group col-md-12">
                            @Html.Label("IdDia", null, new { @class = "" })
                            @Html.TextBox("txtIdDiaNuevo", "", new { @class = "form-control", placeholder = "IdTurno", autocomplete = "off" })
                            @Html.Label("DiaSemana", null, new { @class = "" })
                            @Html.TextBox("txtDiaSemanaNuevo", "", new { @class = "form-control", placeholder = "Nombre Turno", autocomplete = "off" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="NuevoRegistro();">Agregar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalVerRegistro" tabindex="-1" role="dialog" aria-labelledby="modalNuevoRegistro" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabelProducto">
                    <label id="lblUsuario" text="label">Registro</label>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row" style="margin: 0 0 0 0; padding: 0 0 0 0;">
                        <div class="form-group col-md-12">
                            @Html.Label("IdDia", null, new { @class = "" })
                            @Html.TextBox("txtIdDiaVer", "", new { @class = "form-control", placeholder = "IdTurno", autocomplete = "off" })
                            @Html.Label("DiaSemana", null, new { @class = "" })
                            @Html.TextBox("txtDiaSemanaVer", "", new { @class = "form-control", placeholder = "Nombre Turno", autocomplete = "off" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>