@using Universidad.Entidades
@{
    ViewBag.Title = "MAT_CAT_MATERIAS";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var listaMaterias = new List<MAT_CAT_MATERIAS>();

    if (ViewBag.listaMaterias != null)
    {
        listaMaterias = ViewBag.listaMaterias;
    }
}
@section Head
{
    <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap-datepicker.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-select.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap-select.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-multiselect.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap-multiselect.css" type="text/css" rel="stylesheet" />
}

@section Scripts
{
    <script type="text/javascript">
        function ValidaCreditos(texto) {
            var regexExp = /[0-9]{1,3}\.[0-9]{1,2}/;
            var valido = regexExp.test(texto);
            return valido;
        }

        $(document).ready(function() {
            $("#txtCreditosActualizar").focusout(function () {

                var texto = $("#txtCreditosActualizar").val();
                var valido = ValidaCreditos(texto);

                if (valido == false) {
                    alert('El valor es incorrecto, debe seguir un formato 000.00');
                    $("#txtCreditosActualizar").val('000.00');
                }
            });

            $("#txtCreditosNuevo").focusout(function () {

                var texto = $("#txtCreditosNuevo").val();
                var valido = ValidaCreditos(texto);

                if (valido == false) {
                    alert('El valor es incorrecto, debe seguir un formato 000.00');
                    $("#txtCreditosNuevo").val('000.00');
                }
            });
        });

        function show_modal(modalName, idMateria, nombreMateria, creditos, optativa) {

            $("#txtIdMateriaVer").val(idMateria);
            $("#txtNombreMateriaVer").val(nombreMateria);
            $("#txtCreditosVer").val(creditos);
            $("#cbxOptativaVer").val(optativa);

            $("#txtIdMateriaActualizar").val(idMateria);
            $("#txtNombreMateriaActualizar").val(nombreMateria);
            $("#txtCreditosActualizar").val(creditos);

            if (optativa == "True") {
                $("#cbxOptativaVer").prop("checked", optativa);
                $("#cbxOptativaActualizar").prop("checked", optativa);
            }

            $('.selectpicker').selectpicker('refresh');
            $('#' + modalName + '').modal('show');
        }

        function Nuevo() {
            $("#txtIdMateriaNuevo").val('');
            $("#txtNombreMateriaNuevo").val('');
            $("#txtCreditosNuevo").val('');
            $("#cbxOptativaNuevo").val('');
            $('.selectpicker').selectpicker('refresh');
            $('#modalNuevoRegistro').modal('show');
        }

        function NuevoRegistro() {
            var idMateria = $("#txtIdMateriaNuevo").val();
            var nombreMateria = $("#txtNombreMateriaNuevo").val();
            var creditos = $("#txtCreditosNuevo").val();
            var optativa = false;

            var ckb = document.getElementById("cbxOptativaNuevo").checked;

            if (ckb == true) {
                optativa = true;
            }

            $.ajax({
                type: "POST",
                data: {
                    'idMateria': idMateria,
                    'nombreMateria': nombreMateria,
                    'creditos': creditos,
                    'optativa': optativa
                },
                url: '@Url.Action("NuevoRegistroMatCatMaterias", "Catalogos")',
                success: function(response) {

                    $('#modalNuevoRegistro').modal('hide');

                    if (response) {
                        if (response == true)
                            alert("true");
                        location.reload();
                    } else {
                        alert("No se guardo el registro");
                    }
                },
                error:
                    function() {
                        alert("Error en el envio de la informacion");
                    }
            });
        }

        function Actualiza() {

            var idMateria = $("#txtIdMateriaActualizar").val();
            var nombreMateria = $("#txtNombreMateriaActualizar").val();
            var creditos = $("#txtCreditosActualizar").val();
            var optativa = false;

            var ckb = document.getElementById("cbxOptativaActualizar").checked;

            if (ckb == true) {
                optativa = true;
            }

            $.ajax({
                type: "POST",
                data: {
                    'idMateria': idMateria,
                    'nombreMateria': nombreMateria,
                    'creditos': creditos,
                    'optativa': optativa
                },
                url: '@Url.Action("ActualizaMatCatMaterias", "Catalogos")',
                success: function(response) {

                    $('#modalActualizaRegistro').modal('hide');

                    if (response) {
                        if (response == true)
                            alert("true");
                        location.reload();
                    } else {
                        alert("false");
                    }
                },
                error:
                    function(xhr, status, error) {
                        alert(status + " : " + error);
                    }
            });
        }

        function Ver(modalName, idMateria, nombreMateria, creditos, optativa) {

            $("#txtIdMateriaVer").val(idMateria);
            $("#txtNombreMateriaVer").val(nombreMateria);
            $("#txtCreditosVer").val(creditos);
            $("#cbxOptativaVer").val(optativa);
            $('#modalVerRegistro').modal('show');
        }
    </script>
}

<br />

<h4>Catalogo @ViewBag.Title</h4>

<h5>En este catalogo se describen los distintos tipos de horarios con los cuales se cuenta</h5>

<br />

<div class="col-md-12">
    <table class="table">
        <tr>
            <th>
                IdMateria
            </th>
            <th>
                Nombre de la Materia
            </th>
            <th>
                Creditos
            </th>
            <th>
                Optativa
            </th>
            <th>
                Operaciones
            </th>
        </tr>

        @foreach (var item in listaMaterias)
        {
            <tr>
                <td>
                    @item.IDMATERIA
                </td>
                <td>
                    @item.NOMBREMATERIA
                </td>
                <td>
                    @item.CREDITOS
                </td>
                <td>
                    @Html.CheckBox("cbxOptativa", Convert.ToBoolean(item.OPTATIVA), new { @class = "checkbox", disabled = "disabled" })
                </td>
                <td style="align-content: center;">
                    <a id="btnEliminar" href="@Url.Action("EliminaMatCatMaterias", "Catalogos", new { idMateria = item.IDMATERIA, nombreMateria = item.NOMBREMATERIA, creditos = item.CREDITOS, optativa = item.OPTATIVA})" class="btn btn-default btn-sm">Elimina</a>
                    <button name="btnEditar" class="btn btn-default btn-sm" onclick="show_modal('modalActualizaRegistro','@item.IDMATERIA', '@item.NOMBREMATERIA', '@item.CREDITOS', '@item.OPTATIVA.ToString()')">Editar</button>
                    <button name="btnVer" class="btn btn-default btn-sm" onclick="show_modal('modalVerRegistro','@item.IDMATERIA', '@item.NOMBREMATERIA', '@item.CREDITOS','@item.OPTATIVA.ToString()')">ver</button>
                </td>
            </tr>
        }
    </table>
    <br />

    <div style="margin-top: 10px; float: right;" class="form-group">
        <button type="button" class="btn btn-default" onclick="Nuevo();">Nuevo</button>
    </div>
</div>

<div class="modal fade" id="modalActualizaRegistro" tabindex="-1" role="dialog" aria-labelledby="modalLabelProducto" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabelProducto">
                    <label id="lblUsuario" text="label">Actualizar registro</label>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row" style="margin: 0 0 0 0; padding: 0 0 0 0;">
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-12">
                                @Html.Label("IdMateria", null, new { @class = "" })
                                @Html.TextBox("txtIdMateriaActualizar", "", new { @class = "form-control", placeholder = "IdTurno", autocomplete = "off" })
                                @Html.Label("Nombre Materia", null, new { @class = "" })
                                @Html.TextBox("txtNombreMateriaActualizar", "", new { @class = "form-control", placeholder = "Nombre de turno", autocomplete = "off" })
                                @Html.Label("Creditos", null, new { @class = "" })
                                @Html.TextBox("txtCreditosActualizar", "", new { @class = "form-control", placeholder = "Nombre de turno", autocomplete = "off" })
                                <br />
                                <div class="row input-group form-group" style="margin: 0 0 0 0; padding: 0 0 0 0;">
                                    <p>
                                        @Html.Label("Optativa", null, new { @class = "input-group-addon" })
                                        <span class="input-group-addon">
                                            @Html.CheckBox("cbxOptativaActualizar", false, new { @class = "checkbox" })
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="Actualiza();">Actualizar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalNuevoRegistro" tabindex="-1" role="dialog" aria-labelledby="modalNuevoRegistro" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabelProducto">
                    <label id="lblUsuario" text="label">Nuevo registro</label>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row" style="margin: 0 0 0 0; padding: 0 0 0 0;">
                        <div class="form-group col-md-12">
                            @Html.Label("IdMateria", null, new { @class = "" })
                            @Html.TextBox("txtIdMateriaNuevo", "", new { @class = "form-control", placeholder = "IdTurno", autocomplete = "off" })
                            @Html.Label("Nombre Materia", null, new { @class = "" })
                            @Html.TextBox("txtNombreMateriaNuevo", "", new { @class = "form-control", placeholder = "Nombre de turno", autocomplete = "off" })
                            @Html.Label("Creditos", null, new { @class = "" })
                            @Html.TextBox("txtCreditosNuevo", "", new { @class = "form-control", placeholder = "Nombre de turno", autocomplete = "off" })
                            <br />
                            <div class="row input-group form-group" style="margin: 0 0 0 0; padding: 0 0 0 0;">
                                <p>
                                    @Html.Label("Optativa", null, new { @class = "input-group-addon" })
                                    <span class="input-group-addon">
                                        @Html.CheckBox("cbxOptativaNuevo", false, new { @class = "checkbox" })
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="NuevoRegistro();">Agregar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalVerRegistro" tabindex="-1" role="dialog" aria-labelledby="modalNuevoRegistro" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabelProducto">
                    <label id="lblUsuario" text="label">Registro</label>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row" style="margin: 0 0 0 0; padding: 0 0 0 0;">
                        <div class="form-group col-md-12">
                            @Html.Label("IdMateria", null, new { @class = "" })
                            @Html.TextBox("txtIdMateriaVer", "", new { @class = "form-control", placeholder = "IdTurno", autocomplete = "off" })
                            @Html.Label("Nombre Materia", null, new { @class = "" })
                            @Html.TextBox("txtNombreMateriaVer", "", new { @class = "form-control", placeholder = "Nombre de turno", autocomplete = "off" })
                            @Html.Label("Creditos", null, new { @class = "" })
                            @Html.TextBox("txtCreditosVer", "", new { @class = "form-control", placeholder = "Nombre de turno", autocomplete = "off" })
                            <br />
                            <div class="row input-group form-group" style="margin: 0 0 0 0; padding: 0 0 0 0;">
                                <p>
                                    @Html.Label("Optativa", null, new { @class = "input-group-addon" })
                                    <span class="input-group-addon">
                                        @Html.CheckBox("cbxOptativaVer", false, new { @class = "checkbox" })
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>