@model Universidad.Entidades.US_USUARIOS
@{
    ViewBag.Title = "Crear cuenta de usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <script src="/Scripts/bootstrap.js" type="text/javascript"></script>
    <link href="/Content/bootstrap.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-select.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap-select.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-multiselect.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap-multiselect.css" type="text/css" rel="stylesheet" />
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('.selectpicker').selectpicker({
                style: 'btn-default btn-sm'
            });

            $('#txtContrasena').change(function() {
                var c = $('#txtContrasena').val();
                var cc = $('#txtConfirmaContrasena').val();

                if (c == cc && (c != "" && cc != "")) {
                    $("#divContrasena").removeClass('btn-success').addClass('btn-danger');
                    $("#divContrasena").addClass('has-success').removeClass('has-error');
                    $("#btnCrear").removeAttr("disabled", "disabled");

                }
                else {
                    $("#divContrasena").removeClass('btn-danger').addClass('btn-success');
                    $("#divContrasena").addClass('has-error').removeClass('has-success');
                    $("#btnCrear").attr("disabled", "disabled");

                }
            });

            $('#txtConfirmaContrasena').change(function() {
                var c = $("#txtContrasena").val();
                var cc = $("#txtConfirmaContrasena").val();

                if (c == cc && (c != "" && cc != "")) {
                    $("#divContrasena").removeClass('btn-success').addClass('btn-danger');
                    $("#divContrasena").addClass('has-success').removeClass('has-error');
                    $("#btnCrear").removeAttr("disabled", "disabled");
                }
                else {
                    $("#divContrasena").removeClass('btn-danger').addClass('btn-success');
                    $("#divContrasena").addClass('has-error').removeClass('has-success');
                    $("#btnCrear").attr("disabled", "disabled");
                }
            });
        });

        function ValidaUsuario() {
            var usuario = $("#txtUsuario").val();

            $.ajax({
                type: "POST",
                data: { 'usuario': usuario },
                url: '@Url.Action("ObtenUsuario", "Usuarios")',
                success: function(response) {
                    if (response == "null") {
                        //alert("No existe usuario");
                        $("#divUsuario").addClass('has-success').removeClass('has-error');
                        $("#btnValidaUsuario").addClass('btn-success').removeClass('btn-danger');
                        $("#btnCrear").removeAttr("disabled", "disabled");

                    } else {
                        //var objeto = JSON.parse(response);
                        //var existe = objeto.USUARIO;
                        //alert("Existe Usuario " + existe);
                        //$("#divUsuario").removeClass('has-success');
                        $("#divUsuario").addClass('has-error').removeClass('has-success');
                        $("#btnValidaUsuario").addClass('btn-danger').removeClass('btn-success');
                        $("#btnCrear").attr("disabled", "disabled");
                    }
                },
                error:
                    function(xhr, status, error) {
                        alert(status + " : " + error);
                    }
            });
        }
    </script>
}
    <div class="jumbotron">
        <br />
        <h2>@ViewBag.Title</h2>
        <br />

        <div class="panel panel-default form-margin">
            <div class="panel-heading form-margin">
                <div class="panel-title">Llena los datos del usuario</div>
            </div>
            @using (Html.BeginForm("NuevaPersona", "Personas", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <fieldset></fieldset>
                <div class="form-group row form-group input-group-sm" style="margin: 5px; padding: 10px;">
                    <div class="row">
                        <div class="row" style="margin: 0 0 0 0; padding: 0 0 0 0;">
                            <div class="form-group col-md-4">
                                <div class="input-group">
                                    @Html.Label("Estatus de usuario", null, new {@class = "input-group-addon"})
                                    @Html.DropDownListFor(r => r.ID_TIPO_USUARIO, (IEnumerable<SelectListItem>) ViewBag.ListaEstatusUsuario, new {@class = "selectpicker", data_live_search = true})
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="input-group">
                                    @Html.Label("Tipo de usuario", null, new {@class = "input-group-addon"})
                                    @Html.DropDownListFor(r => r.ID_ESTATUS_USUARIOS, (IEnumerable<SelectListItem>) ViewBag.ListaTipoUsuario, new {@class = "selectpicker", data_live_search = true})
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="input-group">
                                    @Html.Label("Tipo de usuario", null, new {@class = "input-group-addon"})
                                    @Html.DropDownListFor(r => r.ID_NIVEL_USUARIO, (IEnumerable<SelectListItem>) ViewBag.ListaNivelUsuario, new {@class = "selectpicker", data_live_search = true})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row" style="margin: 0 0 0 0; padding: 0 0 0 0;">
                            <div class="form-group col-md-4">
                                <div class="input-group" id="divUsuario">
                                    @Html.Label("Nuevo Usuario", new {@class = "input-group-addon"})
                                    @Html.TextBoxFor(x => x.USUARIO, new { @class = "form-control", @id = "txtUsuario", placeholder = "Nuevo Usuario", autocomplete = "off" })
                                    <span class="input-group-btn">
                                        <a href="#" id="btnValidaUsuario" class="btn btn-default" onclick=" ValidaUsuario(); ">Buscar</a>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-8">
                                <div class="input-group" id="divContrasena">
                                    @Html.Label("Nueva Contraseña", new {@class = "input-group-addon"})
                                    @Html.TextBoxFor(x => x.CONTRASENA, new { @id = "txtContrasena", @class = "form-control", @type = "password", placeholder = "Nueva contraseña", autocomplete = "off" })
                                    @Html.Label("Confirma contraseña", new {@class = "input-group-addon"})
                                    @Html.TextBox("txtConfirmaContrasena", null, new { @class = "form-control", @type = "password", placeholder = "Confirma Contraseña", autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 10px; float: right;" class="form-group">
                    <label>&nbsp;</label>
                    <input type="submit" id="btnCrear" value="Crear cuenta" class="btn btn-info btn-sm" style="margin: 10px; padding: 10px;">
                </div>
            }
        </div>
    </div>
