@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{

    <script src="/Scripts/bootstrap.js" type="text/javascript"></script>
    <link href="/Content/bootstrap.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-select.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap-select.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-multiselect.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap-multiselect.css" type="text/css" rel="stylesheet" />
}

@section Scripts
{
    <script>
        function BuscarPersona() {
            var idPersona = $("#txtIdPersonaLink").val();

            $.ajax({
                type: "POST",
                data: { 'idPersona': idPersona },
                url: '@Url.Action("BuscaPersona", "Usuarios")',
                success: function (response) {
                    if (response == "null") {
                        alert("El ID de la persona es incorrecto");
                    } else {
                        var persona = JSON.parse(response);
                        var result = '<div class="panel panel-default form-margin"><div class="panel-heading form-margin"><div class="panel-title">Datos</div><div class="panel-body"><div class="col-md-7">';
                        $("#DatosPersona").empty();

                        var nombre = persona.NombreCompleto;
                        var linkId = persona.IdLinkPersona;
                        var fechaRegistro = persona.FechaIngreso;
                        fechaRegistro = fechaRegistro.slice(0, 9);
                        var tipoPersona = persona.TipoPersona;
                        var formato = persona.ExtencionFoto;
                        var binario = persona.Fotografia;
                        var nombreFoto = persona.NombreFoto;
                        var correoPersonal = persona.CorreoPersonal;
                        var correoUniversidad = persona.CorreoUniversidad;
                        var usuario = persona.Usuario;
                        result += '<h4><label>Id : ' + linkId + '</label></h4>';
                        result += '<h5><label>Nombre: ' + nombre + '</label></h5>';
                        result += '<h5><label>Fecha de registro: ' + fechaRegistro + '</label></h5>';
                        result += '<h5><label>Tipo de Persona: ' + tipoPersona + '</label></h5>';
                        result += '<h5><label>Correo Personal: ' + correoPersonal + '</label></h5>';
                        result += '<h5><label>correo Universidad: ' + correoUniversidad + '</label></h5>';
                        result += '<h5><label>Tipo de Persona: ' + tipoPersona + '</label></h5>';

                        if (usuario == "Sin usuario") {
                            result += '<h5><label>Este persona no cuenta con un usuario</label></h5>';
                            result += '<a href="CrearCuenta/?personaId=' + linkId + '" id="btnCrearUsuario" class="btn btn-default">Crear Cuenta</a>';
                        }
                        else {
                            result += '<h5><label>El usuario de esta persona es ' + usuario + '</label></h5>';
                            result += '<a href="EditarCuenta/?personaId=' + linkId + '" id="btnEditarPersona" class="btn btn-default">Editar Cuenta</a>';
                        }


                        if (nombreFoto != "Sin Fotografia") {
                            result += '</div><div class="col-md-5"><img src="data:image/' + formato + ';base64,' + binario + '" id="id' + nombreFoto + '"width="100%" height="100%" />';
                            result += '</div>';
                        }

                        result += '</div></div>';
                        $("#DatosPersona").html(result);
                    }
                },
                error:
                    function (xhr, status, error) {
                        alert(status + " : " + error);
                    }
            });
        }
    </script>
}

<div class="jumbotron">
    <br />
    <h2>@ViewBag.Title</h2>
    <br />

    <div class="panel panel-default form-margin">
        <div class="panel-heading form-margin">
            <div class="panel-title">Llena los datos del usuario</div>
        </div>
        @Html.ValidationSummary(true)
        <fieldset></fieldset>

        <div class="form-group row form-group input-group-sm" style="margin: 5px; padding: 10px;">
            <div class="input-group form-group col-lg-offset-4 col-md-4">
                @Html.Label("Id Persona", null, new { @class = "input-group-addon" })
                @Html.TextBox("txtIdPersonaLink", null, new { @class = "form-control", placeholder = "Id Persona" })
                <span class="input-group-btn">
                    <a href="#" id="btnBuscarPersona" class="btn btn-default" onclick="BuscarPersona();">Buscar</a>
                </span>
            </div>
        </div>
        <input type="submit" value="Editar" class="btn btn-info btn-sm" style=" margin: 10px; padding: 10px; visibility:hidden;" />
    </div>
    <div id="DatosPersona"></div>
</div>