@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <title>LogIn</title>

    @RenderSection("Head", required: false)

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tether")
    @RenderSection("Scripts", false)

</head>
<body>
    <div class=" col-lg-offset-4 col-md-4">
        @RenderBody()
    </div>
</body>
</html>
