@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    @RenderSection("head", required: false)
    @Styles.Render("~/Content/css")
</head>
<body>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    </body>
</html>
