@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    @RenderSection("Head", required: false)
    @RenderSection("Scripts", required: false)
    @Styles.Render("~/Content/css")
</head>
<body>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderBody()
    </body>
</html>
