@using Universidad.Entidades
@{
    ViewBag.Title = "ObtenCatalogo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tipo = ViewBag.Tipo;
    var lista = ViewBag.Lista;
}
<div class="jumbotron">
    <div class="panel panel-default form-margin">
        <div class="panel-heading form-margin">
            <div class="panel-title">Selecciona uno de los catalogos del sistema</div>
        </div>
        <fieldset>
            <div class="form-group row form-group input-group-sm" style="margin: 5px; padding: 10px;">
                <div class="row">
                    @if (tipo == "DIR_CAT_COLONIAS")
                    {
                        var listaColonias = Newtonsoft.Json.JsonConvert.DeserializeObject<List<DIR_CAT_COLONIAS>>(lista);

                        foreach (var item in listaColonias)
                        {
                            <h1>@item.CODIGOPOSTAL</h1>
                            <div class="row" style="margin: 0 0 0 0; padding: 0 0 0 0;">
                                <div class="panel panel-default">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">Panel heading</div>
                                    <div class="panel-body">
                                        <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                    </div>

                                    <!-- Table -->
                                    <table class="table">
                                        <caption>Monthly savings</caption>
                                        <tr>
                                            <th>Month</th>
                                            <th>Savings</th>
                                        </tr>
                                        <tr>
                                            <td>January</td>
                                            <td>$100</td>
                                        </tr>
                                        <tr>
                                            <td>February</td>
                                            <td>$50</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        }
                    }

                    @if (tipo == "DIR_CAT_DELG_MUNICIPIO")
                    {
                        var listaMunicipios = Newtonsoft.Json.JsonConvert.DeserializeObject<List<DIR_CAT_DELG_MUNICIPIO>>(lista);
                        <table class="table">
                            <tr>
                                <th>
                                    IdDelegMunicipio
                                </th>
                                <th>
                                    IdEstado
                                </th>
                                <th>
                                    IdMunicipio
                                </th>
                                <th>
                                    Nombre Municipio
                                </th>
                            </tr>

                            @foreach (var item in listaMunicipios)
                            {
                                <tr>
                                    <td>
                                        @item.IDDELGMUNICIPIO
                                    </td>
                                    <td>
                                        @item.IDESTADO
                                    </td>
                                    <td>
                                        @item.IDMUNICIPIO
                                    </td>
                                    <td>
                                        @item.NOMBREDELGMUNICIPIO
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
